.slider-container {
  margin-top: 20px !important;
  padding: 40px 0;
}

.slick-slider {
  width: 60%;
  height: 300px;
  padding: 10px;
  gap: 20px; /* Added gap between slides */
}

.sliders {
  margin: 0 10px; /* Added margin to create spacing */
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.6;
  transform: scale(0.8);
  text-align: center;
}

/* Center slide effect */
.slick-center .sliders {
  opacity: 1;
  transform: scale(1.0);
  box-shadow: 0 4px 15px rgb(96, 96, 96);
  border-radius: 15px;
}

/* Image Styling */
.carousel-image {
  width: 100%;
  height: 250px;
  object-fit: fill;
  border-radius: 15px;
  cursor: pointer;
  display: block;
}

/* Modal Styling */
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.enlarged-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .slick-slider {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .slick-slider {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .slick-slider {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .slick-slider {
    width: 100%;
  }

  .slick-prev,
  .slick-next {
    width: 30px;
    height: 30px;
  }
}
